---
import IndexPage from "../../layouts/IndexPage.astro";
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<IndexPage>
  <section
    class="grid grid-cols-1 justify-items-center gap-y-8 gap-x-16 p-4 md:grid-cols-2 lg:grid-cols-3"
  >
    {posts.map((post) => <PostCard {...post} />)}
  </section>
</IndexPage>
