---
const today = new Date();
---

<footer class="space-y-2 justify-self-start p-8">
  <p>
    Made with <a
      href="https://astro.build/"
      class="font-bold transition ease-in-out hover:text-orange-600">Astro</a
    > & ❤️ by <span class="font-bold">Leo Wang</span>
  </p>
  <p>
    If not specifically stated, all contents are released under <a
      href="https://creativecommons.org/licenses/by-sa/4.0/"
      class="ease-in-outs font-bold transition hover:text-orange-600"
      >CC BY_SA 4.0</a
    >.
  </p>
</footer>
