---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="navbar sticky top-0 z-50 h-16 w-full bg-base-100 bg-opacity-60 shadow-md backdrop-blur-md"
>
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <HeaderLink href="/" class="btn btn-ghost ring-neutral-focus">
      Home
    </HeaderLink>
    <HeaderLink href="/blog" class="btn btn-ghost ring-neutral-focus">
      Blog
    </HeaderLink>
  </div>
  <div class="navbar-end"></div>
</header>
